<app-navbar></app-navbar>
<body>

<div class="container col-md-9 fondo">

    <h1 class="h3 mb-5 mt-5 fw-normal">FACTURACIÓN DE CLIENTES</h1>

    
      <div class="row">
        <div class="col-lg-3 mt-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Nombre" aria-label="Text input with checkbox">
          </div>
        </div>

        <div class="col-lg-3 mt-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Correo" aria-label="Text input with radio button">
          </div>
        </div>

        <div class="col-lg-3 mt-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Asunto" aria-label="Text input with radio button">
          </div>
        </div>

        <div class="col mt-3">
          <button class="w-53 btn btn-lg btn boton-buscar" type="submit">Buscar</button> 
        </div>

      </div>


      <div class="table-responsive mt-5">
        <table class="table">
        <thead >
          <tr>
            <th class="color-tr" scope="col">#</th>
            <th class="color-tr" scope="col">Heading</th>
            <th class="color-tr" scope="col">Heading</th>
            <th class="color-tr" scope="col">Heading</th>
            <th class="color-tr" scope="col">Heading</th>
            <th class="color-tr" scope="col">Heading</th>
            <th class="color-tr" scope="col">Heading</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <th class="color-tr1" scope="row">1</th>
              <td class="color-tr1">Cell</td>
              <td class="color-tr1">Cell</td>
              <td class="color-tr1">Cell</td>
              <td class="color-tr1">Cell</td>
              <td class="color-tr1">Cell</td>
              <td class="color-tr1">Cell</td>
              
            </tr>
            <tr>
              <th scope="row">2</th>
              <td class="color-tr1">Cell</td>
              <td class="color-tr1">Cell</td>
              <td class="color-tr1">Cell</td>
              <td class="color-tr1">Cell</td>
              <td class="color-tr1">Cell</td>
              <td class="color-tr1">Cell</td>
              
            </tr>
            <tr>
              <th scope="row">3</th>
              <td class="color-tr1">Cell</td>
              <td class="color-tr1">Cell</td>
              <td class="color-tr1">Cell</td>
              <td class="color-tr1">Cell</td>
              <td class="color-tr1">Cell</td>
              <td class="color-tr1">Cell</td>
            
            </tr>
          </tbody>
        </table>
      </div>


      
  </div>

</body>