.boton-buscar{
    background: #D1C8C1;
    border-radius: 30px;
}

.color-tr{
    background-color: #006C41;
    border: #F6F4F3 7px solid
}

body {
    background-color: #F6F4F3;
    font-family: Arial, sans-serif;
    position: relative;
    padding-bottom: 5em;
    min-height: 105vh;
}

.color-tr1{
    border: #F6F4F3 7px solid
}