.boton-inicio {
    border-radius: 30px;
    background-color: #008E47; 
    color: #ffffff
}

.imput-inicio {
    border-radius: 30px;
    border-color:  #008E47;
    border-width: 4px;
}

.tam-ima{
    width: 300px;
}

.borde-inicio {
    border-radius: 24px; 
    background-color: #006C41;
}

body{
    background-color: #F6F4F3;
    position: relative;
    padding-bottom: 5em;
    min-height: 105vh;
    
}

@media screen and (max-width: 450px) {
    .borde-inicio {
      width: calc(100% - 40px);
    }
}
@media screen and (max-width: 780px) {
    .borde-inicio {
      width: calc(100% - 100px);
    }
}

@media screen and (max-width: 1024px) {
    .borde-inicio {
      width: calc(100% - 40px);
    }
}



