<body>
    <br>
    <h1></h1>
    <div class="text-center container col-md-4" >
        <div class="mt-5 mb-5">
            <a ><img class="tam-ima" src="https://i.ibb.co/NKxpPDv/logo.png" alt="logo" border="0"></a>
        </div>
    </div>
    
    <div class="text-center card container col-md-4  borde-inicio" >
    
        <div class="mt-5 mb-5">
            <h1 class="h3 mb-5 fw-normal" style="color: #ffffff" >INICIO DE SESIÓN</h1>
    
            <div class="form-floating mt-2">
                <input type="text" class="form-control imput-inicio" id="floatingInput" placeholder="name@example.com"  >
                <label for="floatingInput">EMAIL</label>
            </div>
    
            <div class="form-floating mt-3">
                <input type="password" class="form-control imput-inicio" id="floatingPassword" placeholder="Password" >
                <label for="floatingPassword">PASSWORD</label>
            </div>
            <!--<div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Recordar
                </label>
            </div>-->
    
            <div class="form-floating mt-5">
                <button class="w-53 btn btn-lg btn boton-inicio" type="submit" routerLink="/menu"  >INGRESAR</button>     
            </div>
            
        </div>
    </div>

</body>
