<app-navbar></app-navbar>

<body>

<div class="container col-md-9">

    <h1 class="h3 mb-5 mt-5 fw-normal">GESTION DE NOTIFICACIONES POR CORREO</h1>

    <div class="input-group mb-3">
        <span class="input-group-text">E-mail:</span>
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Username">
          <label for="floatingInputGroup1">Correo...</label>
        </div>
      </div>

    <div class="form-floating">
        <textarea class="form-control color-tex" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 250px"></textarea>
        <label for="floatingTextarea2">MENSAJE</label>
    </div>

    <div class="form-floating mt-5">
        <button class="w-53 btn btn-lg btn boton-enviar" type="submit">Enviar</button>     
    </div>

  </div>

</body>