.boton-enviar{
    background: #D1C8C1;
    border-radius: 30px;
    float: right;
}

.coor-tex{
    background: #D1C8C1;
}

body {
    background-color: #F6F4F3;
    font-family: Arial, sans-serif;
    position: relative;
    padding-bottom: 5em;
    min-height: 105vh;
}