  
  <nav class="navbar navbar-expand-lg dise">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://i.ibb.co/NKxpPDv/logo.png" alt="Bootstrap" width="130" >    
        </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Menu 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Menu 2 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Menu 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Menu 4</a>
          </li>
        </ul>
      </div>

      <nav class="navbar colorb">
        <div class="container-fluid ">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar.." aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      </nav>

    </div>
  </nav>

